@use "sass:meta";

/* roboto-mono-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-mono-v23-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-mono-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.top-bar {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
  
  
    &div {
      flex: 1 1 auto;
    }
  
    .left {
      display: flex;
      align-items: center;

      .logo img {
        height: 40px;
      }
  
      .docs {
        margin-left: 10px;
        font-size: 12px;
        border: 1px solid var(--hl-bg);
        padding: 4px 8px;
        border-radius: 6px;

        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          margin-left: 5px;
        }
      }
  
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .right {
      flex-grow: 1;
      display: flex;
      align-items: center;
  
      .searchbar {
        font-family: 'Roboto mono', monospace;
        font-size: 12px;
        padding: 5px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      .search-error {
        font-family: 'Roboto mono', monospace;
        font-size: 12px;
        padding: 5px;
        background: var(--hl-bg);
        margin-left:10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      .clear{
        margin-left:0px;
        padding: 5px 7px;
        border-top-left-radius: 0;
        background: rgba(255,255,255, .1) !important;
        border-bottom-left-radius: 0;
      }
    }
  
    .end {
      display: flex;
      align-items: center;
      margin: 0 0px 0 10px;

      .ctrls {
        margin-right: 5px;
        .ctrl-btn{
          padding: 3px 8px;
          border-radius: 0;
          &:first-child{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          &:last-child{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  
  }
  
  
  .layout {
    display: flex;
    height: calc(100vh - 66px);
    overflow: hidden;
  
    .mid-col {
      background: white;
      width: 4px;
      height: 100%;
      opacity: 0.2;
      cursor: ew-resize;

      &.freeze {
        width: 2px !important;
        cursor: auto;
        opacity: 0.1;
      }
    }
  
    .left-col {
  
      overflow: auto;
      overflow-x: hidden;
      margin-left: 4px;
      min-width: 180px;
      border-right: 1px solid var(--hl-bg);
      padding-right: 5px;

      &.empty {
        min-width: unset !important;
        width: 20px !important;
      }
  
      .counter {
        text-align: center;
        padding-bottom: 10px;

        .sort-label{
          font-size: 12px;
        }
      }
  
    }
  
    .right-col {
      padding-left: 5px;
      overflow: scroll;
      // overflow-x: hidden;
      width: 100%;
      height: calc(100%);
  
      .trace-block {
        background: var(--info);
      }
  
      .clickable {
        text-decoration: underline;
        font-weight: 700;
        cursor: pointer;
      }
  
      .clickable:hover {
        text-decoration: none;
      }
  
      .stick {
        position: fixed;
        right: 15px;
        bottom: 10px;
        font-size: 11px;
  
        &.sticked {
          border: 1px solid #646cff;
        }
      }
  
      .table {
        font-family: 'Roboto mono', sans-serif;
        font-size: 12px;
        border: none;
        border-collapse: separate;
        border-spacing: 0;
  
        .header-border {
          height: 100%;
          display: inline;
          width: 3px;
          cursor: ew-resize;
          background: rgba(0, 0, 0, .25);
          float: right;
        }
  
        td,
        th {
          padding: 1px 2px;
  
        }
  
        .column-name {
          z-index: 100;
          span {
            pointer-events: none;
            user-select: none;
          }
  
          &:hover .hide-icon {
            visibility: visible !important;
          }
        }
  
        th {
          position: sticky;
          top: 0;
          background-color: var(--hl-bg);
          padding: 2px 0;
          z-index: 99;
        }
  
        td div {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: break-word;
          word-break: break-all;
        }
  
        tr {
          cursor: pointer;

          .mark {
            display: block;
            width: 10px;
            font-size: 7px;
            line-height: 1px;
            opacity: 0.1;
            
            &:hover{
              opacity: 0.7;
            }

            &.active{
              opacity: 1;
            }
          }
        }
  
  
        tr.row.opened {
          background-color: var(--hl-bg);
          opacity: 0.8;
        }
  
        tr.row:hover {
          background-color: var(--hl-bg) !important;
          opacity: 1;
        }
  
        tr.row.open {
          font-weight: 800;
          background-color: var(--hl-bg3) !important;
        }
      }
    }
  }
  
  .btn-sm {
    padding: 4px 6px;
    margin-right: 4px;
    border-radius: 4px;
    font-size: 12px;
  }

  .kdb, kbd {
    margin: 0;
    border: 1px solid white;
    opacity: 0.7;
    font-size: 12px;
    padding: 1px;
    border-radius: 2px;
  }

  .v-popper--theme-tooltip .v-popper__inner {
    background: #171717 !important;
    padding: 5px  8px!important;
    font-size: 13px;
  }
  .v-popper--theme-tooltip .v-popper__arrow-container {
    visibility:hidden;
  }
  
  .alert {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--hl-bg4);
    background: var(--hl-bg3);
    border-radius: 7px;

    &.alert-info {
      border: 1px solid rgb(95, 118, 194);
      background: var(--info);
    }
  }

  @import url(facet.scss);