.nofacets {
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 40px 0 40px;
    font-size: 22px;
    border-top: 1px solid var(--hl-bg);

    span {
        font-size: 14px;
    }
}

.facet {

    border-top: 1px solid var(--hl-bg);

    font-size: 13px;
    line-height: 16px;
    cursor: pointer;

    .facet-toggle-vis {
        font-size: 9px;
    }

    .facet-items {
        max-height: 150px;
        overflow-y: scroll;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);

        &:hover {
            max-height: 200px;
        }

        .facet-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 2px;
            padding: 4px 4px;

            &.facet-selected {
                background: var(--hl-bg2);
                font-weight: 600;
            }
        }

    }


    .facet-label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .facet-item:hover {
        background-color: var(--hl-bg);
    }

    .facet-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .facet-title {
            font-weight: 700;
        }

        .facet-toggle {}

    }


    .facet-val {
        text-align: right;
        width: 30px;
    }

    margin-top: 10px;

}