body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --danger: #6c2727;
  color: var(--font);
  background-color: var(--bg);
}

body.dark {
  color-scheme: light dark;
  
  --font: #efefef;
  --bg: #242424;
  --hl-bg: #373737;
  --hl-bg2: #3f3f3f;
  --hl-bg3: #595959;
  --bg-btn: #1a1a1a;
}

body.light{
  color: #213547;
  --font: #303030;
  --bg: #f8f8f8;
  --hl-bg: #e0e0e0;
  --hl-bg2: #9d9d9d;
  --hl-bg3: #8c8c8c;
  --bg-btn: #c5c5c5;
}

@media (prefers-color-scheme: light) {
  body.light {
    color-scheme: light;
    --font: #303030;
    --bg: #f8f8f8;
    --hl-bg: #e0e0e0;
    --hl-bg2: #9d9d9d;
    --hl-bg3: #8c8c8c;
    --bg-btn: #c5c5c5;
  }

  body.dark {
    color-scheme: dark;
    --font: #efefef;
    --bg: #242424;
    --hl-bg: #373737;
    --hl-bg2: #3f3f3f;
    --hl-bg3: #595959;
    --bg-btn: #1a1a1a;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* align-items: start; */
  min-width: 320px;
  min-height: 100vh;
}

#app.noselect *{
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, .btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color);
  background-color: var(--bg-btn);
  cursor: pointer;
  transition: border-color 0.25s;

}
.btn-danger {
  background: var(--danger) !important;
}
button:hover, .btn:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 1rem; */
}